<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>Mac OS X</string>
	<string>Windows</string>
	<string>Linux</string>
	<string>Solaris</string>
	<string>BeOS</string>
	<string>Haiku</string>
	<string>OS/2</string>
	<string>Windows NT</string>
	<string>Amiga OS</string>
	<string>VMS</string>
</array>
</plist>
